<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="shortcut icon" href="../assets/images/logo.jpeg">
    <title>VG Auto Peças</title>
</head>
<body>
   <ul id ='logo'>
    <img src="../assets/images/vgnome.png" alt='' width='319' height="101px">
   </ul>
   <ul id="menu">
       <li> <a href="../index.html"> Home </a></li>
       <li> <a href="contato.html"> Contato </a></li>
       <li> <a href="lojas.html"> Lojas </a></li>
       <li> <a href="sobre.html"> Sobre Nós </a></li>
   </ul>
   <ul id="contato">
       <h1>Faça seu orçamento pelo seguintes contatos</h1>
       <br>
   </ul>
   <h3>Loja Taboão
       <br>
       <img src="../assets/images/whats.png" alt="" width="20px" height="20px">  <a href="https://api.whatsapp.com/send?l=pt&phone=5501149689270" target="_blank">(11) 4968-9270</a> 
   </h3>
   <br>
   <h3>Loja Dutra
 <br>
 <class class="contatonum">
  <img src="../assets/images/whats.png" alt="" width="20px" height="20px">  <a href="https://api.whatsapp.com/send?l=pt&phone=5501124332514" target="_blank">(11) 2433-2514</a> 
   <br>
   <img src="../assets/images/whats.png" alt="" width="20px" height="20px"> <a href="https://api.whatsapp.com/send?l=pt&phone=55011954950301" target="_blank">(11) 95495-0301</a> 
   <br>
   <img src="../assets/images/whats.png" alt="" width="20px" height="20px"> <a href="https://api.whatsapp.com/send?l=pt&phone=5501124331183" target="_blank">(11) 2433-1183</a> 
   </h3>
   <br>
   <h3>Loja Pimentas
    <br>
    <img src="../assets/images/whats.png" alt="" width="20px" height="20px">  <a href="https://api.whatsapp.com/send?l=pt&phone=55011958445532" target="_blank">(11) 95844-5532</a> 
   <br>
   <img src="../assets/images/whats.png" alt="" width="20px" height="20px">  <a href="https://api.whatsapp.com/send?l=pt&phone=55011958664153" target="_blank">(11) 95866-4153</a>
   <br>
   <img src="../assets/images/whats.png" alt="" width="20px" height="20px">  <a href="https://api.whatsapp.com/send?l=pt&phone=55011958685701" target="_blank">(11) 95868-5701</a>
   <br>
   <img src="../assets/images/whats.png" alt="" width="20px" height="20px">  <a href="https://api.whatsapp.com/send?l=pt&phone=55011932123301" target="_blank">(11) 93212-3301</a>
   </h3>
   <br>
</class>
   <class class="hora">
    <h3>Horário de atendimento</h3>
    <p>Segunda Feira 08:00 ás 18:00</p>
    <p>Terça Feira 08:00 ás 18:00</p>
    <p>Quarta Feira 08:00 ás 18:00</p>
    <p>Quinta Feira 08:00 ás 18:00</p>
    <p>Sexta Feira 08:00 ás 18:00</p>
    <p>Sabádo 08:00 ás 13:00</p>
</class>
   <footer>
    <ul id="rodape"> 
<br>

<ul id="facebook"> 
    <a href="https://web.facebook.com/vgpecas?_rdc=1&_rdr " target="_blank"> <img src="../assets/images/facebook.png" alt="" width="55px" height="56px"></a> 
    

</ul>
<ul id="instagram">
    <a href="https://www.instagram.com/accounts/login/?next=/vgautopecas/" target="_blank"><img src="../assets/images/instagram.png" alt=""width='45px' width="45px"> </a>

</ul>
<br>
<p>© 2022  V G AUTO PEÇAS  LOGÍSTICA CRIADO POR GUSTAVO FERNANDES DOS SANTOS</p>
    </ul>
</footer>
</body>