<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="logo.jpeg">
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>VG Auto Peças</title>
</head>
<body>
    <main>
   <ul id ='logo'>
    <img src="../assets/images/vgnome.png" alt='' width='319' height="101px">
   </ul>
   <ul id="menu">
       <li> <a href="../index.html"> Home </a></li>
       <li> <a href="contato.html"> Contato </a></li>
       <li> <a href="lojas.html"> Lojas </a></li>
       <li> <a href="sobre.html"> Sobre Nós </a></li>
   </ul>
   <ul id="endereco">
    <h3>Atualmente contamos com três lojas na região de Guarulhos</h3>
    <br>
    <h4>Loja Taboão</h4>
    <p>Endereço : Rua Maria Elisa 132 - Jardim Tamassia </p>
     CEP 07140-130 - Guarulhos -SP
     <a href='https://www.google.com/maps/place/R.+Maria+Elisa,+132+-+Jardim+Tamassia,+Guarulhos+-+SP,+07140-130/@-23.430158,-46.501759,17z/data=!4m5!3m4!1s0x94ce8adc3c096dd9:0x2d54ac4c0d443ab7!8m2!3d-23.4311816!4d-46.5003318?hl=pt-PT' target="_blank">     <img src="../assets/images/praca.png" alt="" width="1424px" height="600"></a>
     <br>
     <h4>Loja Dutra</h4>
    <p>Endereço : Avenida José Brumatti 2992 - Lavras</p>
    CEP 07161-545 - Guarulhos-SP
    <a href="https://www.google.com/maps/place/V+G+Dutra+Auto+Pe%C3%A7as/@-23.4024161,-46.4374356,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce89f84966cd49:0xd7d3d8b64d0b31f3!8m2!3d-23.4023949!4d-46.4329831?hl=pt-PT" target="_blank"> <img src="../assets/images/dutra.jpeg" alt="" width="1424px" height="600px"></a>
    </p>
    <h4>Loja Pimentas </h4>
    <p>Endereço: Avenida Juscelino K. de Oliveira 2500 - Pimentas</p>
    CEP 07272-345 Guarulhos-SP
    <a href="https://www.google.com/maps/place/VG+Pimentas+Auto+Pe%C3%A7as/@-23.4570209,-46.4116251,17z/data=!3m1!4b1!4m5!3m4!1s0x94ce625b40b2bc25:0x757ce189b0821c2a!8m2!3d-23.4570209!4d-46.4094364?hl=pt-PT" target="_blank"><img src="../assets/images/pimentas.png" alt="" width="1424px" height="600px"></a>
   </ul>
   <footer>
    <ul id="rodape"> 
<br>

<ul id="facebook"> 
    <a href="https://web.facebook.com/vgpecas?_rdc=1&_rdr " target="_blank"> <img src="../assets/images/facebook.png" alt="" width="55px" height="56px"></a> 
    

</ul>
<ul id="instagram">
    <a href="https://www.instagram.com/accounts/login/?next=/vgautopecas/" target="_blank"><img src="../assets/images/instagram.png" alt=""width='45px' width="45px"> </a>

</ul>
<br>
<p>© 2022  V G AUTO PEÇAS  LOGÍSTICA CRIADO POR GUSTAVO FERNANDES DOS SANTOS</p>
    </ul>
</footer>
</main>
</body>