<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="shortcut icon" href="../assets/images/logo.jpeg">
    <title>VG Auto Peças</title>
</head>
<body>
    <main>
   <ul id ='logo'>
    <img src="../assets/images/vgnome.png" alt='' width='319' height="101px">
   </ul>
   <ul id="menu">
       <li> <a href="../index.html"> Home </a></li>
       <li> <a href="contato.html"> Contato </a></li>
       <li> <a href="lojas.html"> Lojas </a></li>
       <li> <a href="sobre.html"> Sobre Nós </a></li>
   </ul>
   <div class="intro"></div>
   <img src="../assets/images/fundo.jpg" alt="" width="1624px" height="700px">
   <ul id="texto">
       <h1> NOSSA MISSÃO</h1>
    <br>
   <p>Em meados de 1985, bem próximo ao recém inaugurado Aeroporto Internacional de Guarulhos e vislumbrada pelos pousos e decolagens de grandes aeronaves, a V.G. Auto Peças também traçou seus planos de vôo, decolando para um longo percurso. Sustentada nas asas de uma comercialização eticamente responsável, vem vencendo as turbulentas nuvens econômicas que há muito assolam o nosso Brasil, sendo que em uma de suas escalas, edificou seu hangar no bairro do Taboão, em Guarulhos-SP</p>
   <br>
   <p>Contando hoje com uma tripulação (equipe) adequadamente treinada, motivada e visando sempre novos horizontes, acolhemos com alegria, presteza e eficiencia nossos passageiros (clientes) e, para apoiá-los em seus objetivos, contamos ainda com uma equipe de terra, não menos eficiente e responsável, representada pelos seus fornecedores. </p>
   <br>
   <p>Da mesma forma que uma Torre de Controle mantem seus radares sensíveis detectando continuadamente as necessidades do espaço aéreo, mantemos dinâmicamente a atualização do nosso estoque tendo, atualmente, em torno de 21.000 itens à disposição dos nossos clientes, nos segmentos da mecânica, lataria e acessórios, atendendo principalmente aos veículos de passeio das montadoras nacionais.  </p>
   <br>
   <p>Como toda a expectativa da aeronave em um pouso suave e seguro, que reflete na confiança dos passageiros, a V.G. Auto Peças também mantém essa preocupação, apesar de atualmente já se sentir gratificada com os resultados até então obtidos, tendo consciência que todos os esforços deverão ser mantidos para aumento desse patrimônio tão precioso chamado de...</p>
   <br>
   <h4>NOSSO CLIENTE !</h3>
   </ul>
   <br>
</body>
<footer>
    <ul id="rodape"> 
<br>

<ul id="facebook"> 
    <a href="https://web.facebook.com/vgpecas?_rdc=1&_rdr " target="_blank"> <img src="../assets/images/facebook.png" alt="" width="55px" height="56px"></a> 
    

</ul>
<ul id="instagram">
    <a href="https://www.instagram.com/accounts/login/?next=/vgautopecas/" target="_blank"><img src="../assets/images/instagram.png" alt=""width='45px' width="45px"> </a>

</ul>
<br>
<p>© 2022  V G AUTO PEÇAS  LOGÍSTICA CRIADO POR GUSTAVO FERNANDES DOS SANTOS</p>
    </ul>
</footer>
</main>
</html>
